#Github.com-Vasusen-code

https://github.com/New-dev0/Telethon/archive/Vector.zip #Until telethon update
markdown-it-py~=1.1.0
pyaes~=1.6.1
rsa~=4.7.2

ethon==1.3.5
cryptg
tgcrypto
pyrogram
python-decouple
telethon-tgcrypto
